In [362]:
import pandas as pd
import json
"This is a string that makes this line exactly seventy-nine characters long."

def load_data(file_path, sheet_name):
    data = pd.read_excel(file_path, sheet_name=sheet_name)
    return data

def extract_kyc_info(data):
    kyc_info = {}
    for i in range(0, 50, 5):
        customer_info = data.iloc[i:i+5]['KYC Information for 10 Customers:']
        customer_id = customer_info.iloc[0].split()[1].strip(':')
        name = customer_info.iloc[1].split(': ')[1]
        country = customer_info.iloc[2].split(': ')[1]
        purpose = customer_info.iloc[3].split(': ')[1]
        nature = customer_info.iloc[4].split(': ')[1]

        kyc_info[customer_id] = {
            'Customer': customer_id,
            'Name': name,
            'Country': country,
            'Purpose': purpose,
            'Nature': nature,
            'Transactions': {},
            'Number of Transactions': 0,
            'Risk Class': 'Not Classified'
        }
    return kyc_info

def append_transactions(data, kyc_info):
    for _, row in data.iterrows():
        customer_id = str(row['Customer_ID'])
        if customer_id in kyc_info:
            transaction_id = str(row['Transaction_ID'])
            transaction = {
                'Transaction_ID': row['Transaction_ID'],
                'Amount': row['Amount'],
                'Date': row['Date'].strftime('%Y-%m-%d'),
                'From/To Country': row['From/To Country'],
                'Transaction Type': row['Transaction_Type']
            }
            kyc_info[customer_id]['Transactions'][transaction_id] = transaction
            
    for customer_id in kyc_info:
        number_of_transactions = len(kyc_info[customer_id]['Transactions'])
    kyc_info[customer_id]['Number of Transactions'] = number_of_transactions

    return kyc_info

In [363]:
def classify_risk(customers):
    high_risk_countries = ['Russia', 'UAE', 'Oman']
    low_risk_countries = ['Sweden', 'Italy', 'Germany',
                          'Japan', 'France', 'Spain', 'USA']
    high_risk_purpose = ['trader', 'real estate', 'dealer', 'luxury']
    high_risk_transaction_types = ['Transfer']
    high_risk_nature = ['sporadic', 'large', 'irregular']
    
    risk_points = {}
    
    for customer_id, info in customers.items():
        risk_score = 0

        if info['Country'] in high_risk_countries:
            risk_score += 5
            
        if info['Country'] in low_risk_countries:
            risk_score -= 0.5

        if any(word in info['Purpose'].lower() for word in high_risk_purpose):
            risk_score += 2

        if any(word in info['Nature'].lower() for word in high_risk_nature):
            risk_score += 3.5

        for transaction in info['Transactions'].values():
            if transaction['Transaction Type'] in high_risk_transaction_types:
                risk_score += 0.5

        if risk_score >= 5:
            risk_class = 'High Risk'
        elif risk_score >= 4.5:
            risk_class = 'Normal Risk'
        else:
            risk_class = 'Low Risk'

        customers[customer_id]['Risk Class'] = risk_class
        risk_points[customer_id] = (risk_score, risk_class)
    
    return customers, risk_points

In [364]:
def main():
    file_path = '/Users/davidabaas/Downloads/Case data risk analyst AML 240607.xlsx'
    sheet_name = 'Sheet1'
    data = load_data(file_path, sheet_name)
    
    kyc_info = extract_kyc_info(data)
    transaction_data = data.reset_index(drop=True)
    kyc_info = append_transactions(transaction_data, kyc_info)
    
    kyc_info, risk_points = classify_risk(kyc_info)
    
    kyc_info_json = json.dumps(kyc_info, indent=4)
    print(kyc_info_json)

    
    
    return kyc_info

if __name__ == "__main__":
    kyc_info = main()

{
    "1001": {
        "Customer": "1001",
        "Name": "John Doe",
        "Country": "Sweden",
        "Purpose": "Personal savings and investments",
        "Nature": "Monthly deposits around $5,000, occasional withdrawals",
        "Transactions": {
            "1": {
                "Transaction_ID": 1,
                "Amount": 5000,
                "Date": "2023-03-01",
                "From/To Country": "Sweden",
                "Transaction Type": "Deposit"
            },
            "11": {
                "Transaction_ID": 11,
                "Amount": 4000,
                "Date": "2023-03-11",
                "From/To Country": "Sweden",
                "Transaction Type": "Deposit"
            },
            "21": {
                "Transaction_ID": 21,
                "Amount": 5000,
                "Date": "2023-03-21",
                "From/To Country": "Sweden",
                "Transaction Type": "Deposit"
            },
            "31": {
                "Transaction_ID": 31,
                "Amount": 4000,
                "Date": "2023-04-01",
                "From/To Country": "Sweden",
                "Transaction Type": "Deposit"
            },
            "41": {
                "Transaction_ID": 41,
                "Amount": 3000,
                "Date": "2023-04-11",
                "From/To Country": "Sweden",
                "Transaction Type": "Deposit"
            },
            "51": {
                "Transaction_ID": 51,
                "Amount": 2000,
                "Date": "2023-04-21",
                "From/To Country": "Sweden",
                "Transaction Type": "Deposit"
            },
            "61": {
                "Transaction_ID": 61,
                "Amount": 2500,
                "Date": "2023-05-01",
                "From/To Country": "Sweden",
                "Transaction Type": "Deposit"
            },
            "71": {
                "Transaction_ID": 71,
                "Amount": 3500,
                "Date": "2023-05-11",
                "From/To Country": "Sweden",
                "Transaction Type": "Deposit"
            },
            "81": {
                "Transaction_ID": 81,
                "Amount": 3000,
                "Date": "2023-05-21",
                "From/To Country": "Sweden",
                "Transaction Type": "Deposit"
            },
            "91": {
                "Transaction_ID": 91,
                "Amount": 4000,
                "Date": "2023-05-31",
                "From/To Country": "Sweden",
                "Transaction Type": "Deposit"
            }
        },
        "Number of Transactions": 0,
        "Risk Class": "Low Risk"
    },
    "1002": {
        "Customer": "1002",
        "Name": "Maria Schmidt",
        "Country": "Germany",
        "Purpose": "Small business owner (retail)",
        "Nature": "Weekly transfers between $10,000 - $15,000",
        "Transactions": {
            "2": {
                "Transaction_ID": 2,
                "Amount": 12000,
                "Date": "2023-03-02",
                "From/To Country": "Germany",
                "Transaction Type": "Transfer"
            },
            "12": {
                "Transaction_ID": 12,
                "Amount": 13000,
                "Date": "2023-03-12",
                "From/To Country": "Germany",
                "Transaction Type": "Transfer"
            },
            "22": {
                "Transaction_ID": 22,
                "Amount": 14000,
                "Date": "2023-03-22",
                "From/To Country": "Germany",
                "Transaction Type": "Transfer"
            },
            "32": {
                "Transaction_ID": 32,
                "Amount": 11000,
                "Date": "2023-04-02",
                "From/To Country": "Germany",
                "Transaction Type": "Transfer"
            },
            "42": {
                "Transaction_ID": 42,
                "Amount": 12500,
                "Date": "2023-04-12",
                "From/To Country": "Germany",
                "Transaction Type": "Transfer"
            },
            "52": {
                "Transaction_ID": 52,
                "Amount": 11500,
                "Date": "2023-04-22",
                "From/To Country": "Germany",
                "Transaction Type": "Transfer"
            },
            "62": {
                "Transaction_ID": 62,
                "Amount": 10800,
                "Date": "2023-05-02",
                "From/To Country": "Germany",
                "Transaction Type": "Transfer"
            },
            "72": {
                "Transaction_ID": 72,
                "Amount": 12500,
                "Date": "2023-05-12",
                "From/To Country": "Germany",
                "Transaction Type": "Transfer"
            },
            "82": {
                "Transaction_ID": 82,
                "Amount": 11000,
                "Date": "2023-05-22",
                "From/To Country": "Germany",
                "Transaction Type": "Transfer"
            },
            "92": {
                "Transaction_ID": 92,
                "Amount": 11500,
                "Date": "2023-06-01",
                "From/To Country": "Germany",
                "Transaction Type": "Transfer"
            }
        },
        "Number of Transactions": 0,
        "Risk Class": "Normal Risk"
    },
    "1003": {
        "Customer": "1003",
        "Name": "Luigi Rossi",
        "Country": "Italy",
        "Purpose": "Freelance consultant",
        "Nature": "Irregular deposits and withdrawals between $500 - $2,000",
        "Transactions": {
            "3": {
                "Transaction_ID": 3,
                "Amount": 1500,
                "Date": "2023-03-03",
                "From/To Country": "Italy",
                "Transaction Type": "Withdrawal"
            },
            "13": {
                "Transaction_ID": 13,
                "Amount": 1000,
                "Date": "2023-03-13",
                "From/To Country": "Italy",
                "Transaction Type": "Deposit"
            },
            "23": {
                "Transaction_ID": 23,
                "Amount": 800,
                "Date": "2023-03-23",
                "From/To Country": "Italy",
                "Transaction Type": "Withdrawal"
            },
            "33": {
                "Transaction_ID": 33,
                "Amount": 900,
                "Date": "2023-04-03",
                "From/To Country": "Italy",
                "Transaction Type": "Deposit"
            },
            "43": {
                "Transaction_ID": 43,
                "Amount": 1200,
                "Date": "2023-04-13",
                "From/To Country": "Italy",
                "Transaction Type": "Withdrawal"
            },
            "53": {
                "Transaction_ID": 53,
                "Amount": 1300,
                "Date": "2023-04-23",
                "From/To Country": "Italy",
                "Transaction Type": "Withdrawal"
            },
            "63": {
                "Transaction_ID": 63,
                "Amount": 1400,
                "Date": "2023-05-03",
                "From/To Country": "Italy",
                "Transaction Type": "Deposit"
            },
            "73": {
                "Transaction_ID": 73,
                "Amount": 1500,
                "Date": "2023-05-13",
                "From/To Country": "Italy",
                "Transaction Type": "Deposit"
            },
            "83": {
                "Transaction_ID": 83,
                "Amount": 1700,
                "Date": "2023-05-23",
                "From/To Country": "Italy",
                "Transaction Type": "Deposit"
            },
            "93": {
                "Transaction_ID": 93,
                "Amount": 1100,
                "Date": "2023-06-02",
                "From/To Country": "Italy",
                "Transaction Type": "Deposit"
            }
        },
        "Number of Transactions": 0,
        "Risk Class": "Low Risk"
    },
    "1004": {
        "Customer": "1004",
        "Name": "Sarah Johnson",
        "Country": "USA",
        "Purpose": "International trader",
        "Nature": "Large transfers, $30,000 - $90,000, multiple times a month",
        "Transactions": {
            "4": {
                "Transaction_ID": 4,
                "Amount": 35000,
                "Date": "2023-03-04",
                "From/To Country": "USA",
                "Transaction Type": "Transfer"
            },
            "14": {
                "Transaction_ID": 14,
                "Amount": 60000,
                "Date": "2023-03-14",
                "From/To Country": "USA",
                "Transaction Type": "Transfer"
            },
            "24": {
                "Transaction_ID": 24,
                "Amount": 70000,
                "Date": "2023-03-24",
                "From/To Country": "USA",
                "Transaction Type": "Transfer"
            },
            "34": {
                "Transaction_ID": 34,
                "Amount": 80000,
                "Date": "2023-04-04",
                "From/To Country": "USA",
                "Transaction Type": "Transfer"
            },
            "44": {
                "Transaction_ID": 44,
                "Amount": 90000,
                "Date": "2023-04-14",
                "From/To Country": "USA",
                "Transaction Type": "Transfer"
            },
            "54": {
                "Transaction_ID": 54,
                "Amount": 75000,
                "Date": "2023-04-24",
                "From/To Country": "USA",
                "Transaction Type": "Transfer"
            },
            "64": {
                "Transaction_ID": 64,
                "Amount": 82000,
                "Date": "2023-05-04",
                "From/To Country": "USA",
                "Transaction Type": "Transfer"
            },
            "74": {
                "Transaction_ID": 74,
                "Amount": 88000,
                "Date": "2023-05-14",
                "From/To Country": "USA",
                "Transaction Type": "Transfer"
            },
            "84": {
                "Transaction_ID": 84,
                "Amount": 83000,
                "Date": "2023-05-24",
                "From/To Country": "USA",
                "Transaction Type": "Transfer"
            },
            "94": {
                "Transaction_ID": 94,
                "Amount": 85000,
                "Date": "2023-06-03",
                "From/To Country": "USA",
                "Transaction Type": "Transfer"
            }
        },
        "Number of Transactions": 0,
        "Risk Class": "High Risk"
    },
    "1005": {
        "Customer": "1005",
        "Name": "Ahmed Ali",
        "Country": "UAE",
        "Purpose": "Real estate investments",
        "Nature": "Sporadic large deposits and withdrawals, $15,000 - $25,000",
        "Transactions": {
            "5": {
                "Transaction_ID": 5,
                "Amount": 20000,
                "Date": "2023-03-05",
                "From/To Country": "UAE",
                "Transaction Type": "Deposit"
            },
            "15": {
                "Transaction_ID": 15,
                "Amount": 25000,
                "Date": "2023-03-15",
                "From/To Country": "UAE",
                "Transaction Type": "Withdrawal"
            },
            "25": {
                "Transaction_ID": 25,
                "Amount": 15000,
                "Date": "2023-03-25",
                "From/To Country": "UAE",
                "Transaction Type": "Deposit"
            },
            "35": {
                "Transaction_ID": 35,
                "Amount": 18000,
                "Date": "2023-04-05",
                "From/To Country": "UAE",
                "Transaction Type": "Withdrawal"
            },
            "45": {
                "Transaction_ID": 45,
                "Amount": 16000,
                "Date": "2023-04-15",
                "From/To Country": "UAE",
                "Transaction Type": "Deposit"
            },
            "55": {
                "Transaction_ID": 55,
                "Amount": 14000,
                "Date": "2023-04-25",
                "From/To Country": "UAE",
                "Transaction Type": "Withdrawal"
            },
            "65": {
                "Transaction_ID": 65,
                "Amount": 21000,
                "Date": "2023-05-05",
                "From/To Country": "UAE",
                "Transaction Type": "Withdrawal"
            },
            "75": {
                "Transaction_ID": 75,
                "Amount": 19000,
                "Date": "2023-05-15",
                "From/To Country": "UAE",
                "Transaction Type": "Withdrawal"
            },
            "85": {
                "Transaction_ID": 85,
                "Amount": 17000,
                "Date": "2023-05-25",
                "From/To Country": "UAE",
                "Transaction Type": "Withdrawal"
            },
            "95": {
                "Transaction_ID": 95,
                "Amount": 16000,
                "Date": "2023-06-04",
                "From/To Country": "UAE",
                "Transaction Type": "Withdrawal"
            }
        },
        "Number of Transactions": 0,
        "Risk Class": "High Risk"
    },
    "1006": {
        "Customer": "1006",
        "Name": "Yuki Tanaka",
        "Country": "Japan",
        "Purpose": "Personal expenses and savings",
        "Nature": "Monthly deposits around $3,000, small regular withdrawals",
        "Transactions": {
            "6": {
                "Transaction_ID": 6,
                "Amount": 3000,
                "Date": "2023-03-06",
                "From/To Country": "Japan",
                "Transaction Type": "Deposit"
            },
            "16": {
                "Transaction_ID": 16,
                "Amount": 2500,
                "Date": "2023-03-16",
                "From/To Country": "Japan",
                "Transaction Type": "Deposit"
            },
            "26": {
                "Transaction_ID": 26,
                "Amount": 3500,
                "Date": "2023-03-26",
                "From/To Country": "Japan",
                "Transaction Type": "Deposit"
            },
            "36": {
                "Transaction_ID": 36,
                "Amount": 2800,
                "Date": "2023-04-06",
                "From/To Country": "Japan",
                "Transaction Type": "Deposit"
            },
            "46": {
                "Transaction_ID": 46,
                "Amount": 2600,
                "Date": "2023-04-16",
                "From/To Country": "Japan",
                "Transaction Type": "Deposit"
            },
            "56": {
                "Transaction_ID": 56,
                "Amount": 3400,
                "Date": "2023-04-26",
                "From/To Country": "Japan",
                "Transaction Type": "Deposit"
            },
            "66": {
                "Transaction_ID": 66,
                "Amount": 2800,
                "Date": "2023-05-06",
                "From/To Country": "Japan",
                "Transaction Type": "Deposit"
            },
            "76": {
                "Transaction_ID": 76,
                "Amount": 3100,
                "Date": "2023-05-16",
                "From/To Country": "Japan",
                "Transaction Type": "Deposit"
            },
            "86": {
                "Transaction_ID": 86,
                "Amount": 2900,
                "Date": "2023-05-26",
                "From/To Country": "Japan",
                "Transaction Type": "Deposit"
            },
            "96": {
                "Transaction_ID": 96,
                "Amount": 3200,
                "Date": "2023-06-05",
                "From/To Country": "Japan",
                "Transaction Type": "Deposit"
            }
        },
        "Number of Transactions": 0,
        "Risk Class": "Low Risk"
    },
    "1007": {
        "Customer": "1007",
        "Name": "Pierre Dubois",
        "Country": "France",
        "Purpose": "Art dealer",
        "Nature": "Large irregular deposits, $20,000 - $50,000",
        "Transactions": {
            "7": {
                "Transaction_ID": 7,
                "Amount": 40000,
                "Date": "2023-03-07",
                "From/To Country": "France",
                "Transaction Type": "Deposit"
            },
            "17": {
                "Transaction_ID": 17,
                "Amount": 30000,
                "Date": "2023-03-17",
                "From/To Country": "France",
                "Transaction Type": "Deposit"
            },
            "27": {
                "Transaction_ID": 27,
                "Amount": 50000,
                "Date": "2023-03-27",
                "From/To Country": "France",
                "Transaction Type": "Withdrawal"
            },
            "37": {
                "Transaction_ID": 37,
                "Amount": 32000,
                "Date": "2023-04-07",
                "From/To Country": "France",
                "Transaction Type": "Deposit"
            },
            "47": {
                "Transaction_ID": 47,
                "Amount": 45000,
                "Date": "2023-04-17",
                "From/To Country": "France",
                "Transaction Type": "Withdrawal"
            },
            "57": {
                "Transaction_ID": 57,
                "Amount": 25000,
                "Date": "2023-04-27",
                "From/To Country": "France",
                "Transaction Type": "Deposit"
            },
            "67": {
                "Transaction_ID": 67,
                "Amount": 42000,
                "Date": "2023-05-07",
                "From/To Country": "France",
                "Transaction Type": "Deposit"
            },
            "77": {
                "Transaction_ID": 77,
                "Amount": 30000,
                "Date": "2023-05-17",
                "From/To Country": "France",
                "Transaction Type": "Deposit"
            },
            "87": {
                "Transaction_ID": 87,
                "Amount": 38000,
                "Date": "2023-05-27",
                "From/To Country": "France",
                "Transaction Type": "Deposit"
            },
            "97": {
                "Transaction_ID": 97,
                "Amount": 29000,
                "Date": "2023-06-06",
                "From/To Country": "France",
                "Transaction Type": "Deposit"
            }
        },
        "Number of Transactions": 0,
        "Risk Class": "High Risk"
    },
    "1008": {
        "Customer": "1008",
        "Name": "Noura Al-Farsi",
        "Country": "Oman",
        "Purpose": "Luxury goods trader",
        "Nature": "Regular large transfers, $40,000 - $60,000",
        "Transactions": {
            "8": {
                "Transaction_ID": 8,
                "Amount": 50000,
                "Date": "2023-03-08",
                "From/To Country": "Oman",
                "Transaction Type": "Transfer"
            },
            "18": {
                "Transaction_ID": 18,
                "Amount": 45000,
                "Date": "2023-03-18",
                "From/To Country": "Oman",
                "Transaction Type": "Transfer"
            },
            "28": {
                "Transaction_ID": 28,
                "Amount": 55000,
                "Date": "2023-03-28",
                "From/To Country": "Oman",
                "Transaction Type": "Transfer"
            },
            "38": {
                "Transaction_ID": 38,
                "Amount": 40000,
                "Date": "2023-04-08",
                "From/To Country": "Oman",
                "Transaction Type": "Transfer"
            },
            "48": {
                "Transaction_ID": 48,

In [365]:
#print(json.dumps(kyc_info['1007']['Transactions'], indent = 4))
Customer_ID = '1007'
print(json.dumps(kyc_info[Customer_ID], indent = 4))

{
    "Customer": "1007",
    "Name": "Pierre Dubois",
    "Country": "France",
    "Purpose": "Art dealer",
    "Nature": "Large irregular deposits, $20,000 - $50,000",
    "Transactions": {
        "7": {
            "Transaction_ID": 7,
            "Amount": 40000,
            "Date": "2023-03-07",
            "From/To Country": "France",
            "Transaction Type": "Deposit"
        },
        "17": {
            "Transaction_ID": 17,
            "Amount": 30000,
            "Date": "2023-03-17",
            "From/To Country": "France",
            "Transaction Type": "Deposit"
        },
        "27": {
            "Transaction_ID": 27,
            "Amount": 50000,
            "Date": "2023-03-27",
            "From/To Country": "France",
            "Transaction Type": "Withdrawal"
        },
        "37": {
            "Transaction_ID": 37,
            "Amount": 32000,
            "Date": "2023-04-07",
            "From/To Country": "France",
            "Transaction Type": "Deposit"
        },
        "47": {
            "Transaction_ID": 47,
            "Amount": 45000,
            "Date": "2023-04-17",
            "From/To Country": "France",
            "Transaction Type": "Withdrawal"
        },
        "57": {
            "Transaction_ID": 57,
            "Amount": 25000,
            "Date": "2023-04-27",
            "From/To Country": "France",
            "Transaction Type": "Deposit"
        },
        "67": {
            "Transaction_ID": 67,
            "Amount": 42000,
            "Date": "2023-05-07",
            "From/To Country": "France",
            "Transaction Type": "Deposit"
        },
        "77": {
            "Transaction_ID": 77,
            "Amount": 30000,
            "Date": "2023-05-17",
            "From/To Country": "France",
            "Transaction Type": "Deposit"
        },
        "87": {
            "Transaction_ID": 87,
            "Amount": 38000,
            "Date": "2023-05-27",
            "From/To Country": "France",
            "Transaction Type": "Deposit"
        },
        "97": {
            "Transaction_ID": 97,
            "Amount": 29000,
            "Date": "2023-06-06",
            "From/To Country": "France",
            "Transaction Type": "Deposit"
        }
    },
    "Number of Transactions": 0,
    "Risk Class": "High Risk"
}

In [366]:
print(json.dumps(kyc_info['1007']['Transactions']['97']))

{"Transaction_ID": 97, "Amount": 29000, "Date": "2023-06-06", "From/To Country": "France", "Transaction Type": "Deposit"}

In [367]:
Transaction_ID = '97'
kyc_info['1007']['Transactions'][Transaction_ID]

{'Transaction_ID': 97,
 'Amount': 29000,
 'Date': '2023-06-06',
 'From/To Country': 'France',
 'Transaction Type': 'Deposit'}